{% extends 'base.html' %}
{% load static %}

{% block title %}Xurshid's Blog{% endblock %}

{% block content %}
    <header>
        <h1>Xurshid's Blog</h1>
    </header>

    <main>
        <!-- Profile photo will be shown when you add profile.jpg to static/images/ -->
        <img src="{% static 'images/profile.jpg' %}" alt="Xurshid's profile photo" class="profile-photo">
        
        <p>I'm a software engineer and I write about my experiences, things I'm learning, and projects I'm working on.</p>
        
        <p>The software development world evolves constantly with new technologies emerging every day. I enjoy keeping up with these changes, experimenting with best practices, and sharing what I learn with others.</p>
    </main>

    <div class="nav-links">
        <a href="{% url 'blog:blog_list' %}">Essays</a>
        <a href="{% url 'blog:about' %}">About</a>
        <a href="{% url 'blog:projects' %}">Projects</a>
        <a href="{% url 'blog:books' %}">Books</a>
        <a href="{% url 'blog:now' %}">Now</a>
        <a href="{% url 'blog:tools' %}">Tools</a>
        <a href="https://t.me/xurshidbro_blog">Channel</a>
    </div>
{% endblock %} 